/* Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: Montserrat;
  src: url('../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Lora;
  src: url('../src/assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

:root {
  ---color: #fff;
  --background-color: #fff;
  --font-family: Lora;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
  min-width: 100% !important;
  margin: 0px auto !important;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline #fff;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

.trademark {
  font-size: 10px;
}

.leftText {
  text-align: left;
}

.rightText {
  text-align: right;
}

/* font styles */
.fontHeader {
  font-size: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 550;
}

.fontHeader1 {
  font-size: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 550;
}

.fontHeader2 {
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.fontHeader2C {
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.fontHeader3 {
  font-size: 14px;
  font-family: Lora;
  font-weight: 500;
  opacity: 50%;
}

.fontHeader4 {
  font-size: 18px;
  font-family: Lora;
  font-weight: 550;
}

.fontHeader5 {
  font-size: 14px;
  font-family: Lora;
  font-weight: 500;
}

.fontParagraph {
  font-size: 15px;
  font-family: Lora;
  font-weight: 400;
  max-width: 500px;
  margin-top: 5px;
}

.fontCategoryParagraph {
  max-width: 200px;
  font-family: Lora;
}

.fontSectionName {
  font-size: 20px;
  font-family: Lora;
  font-weight: 550;
  letter-spacing: 2.4px;
}

/* Header Section */
.headerFull {
  min-height: 100vh !important;
  overflow: hidden;
}

header {
  width: 80%;
  margin: 0px auto;
  overflow-y: hidden;
}

.mainText {
  margin-top: 200px;
}

.mainText p:first-child {
  max-width: 600px;
}

/* main */
main {
  margin: 0px auto;
  width: 80%;
  overflow-x: hidden !important;
}



/* Responsive section */

@media only screen and (max-width: 650px) {
  .redGradientL,
  .redGradientR,
  .blueGradientL,
  .blueGradientR {
    width: 520px;
    height: 520px;
  }
}