.nav_link{
    display: block;
    background-color: white; /* případně var(--color_green)*/
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    color: black;
}
.nav_link:hover{
    background-color: var(--color_light_grey); /* případně var(--color_dark_green)*/
    transition: 200ms;
}